.left__menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 200px;
    padding: 40px 0;
    height: 100%;
    background-color: $main-dark-color;
    color: white;
    z-index: 1;
    .logo-wrap {
        text-align: center;
    }
    .left__menu-wrap {
        margin-top: 50px;
    }

    .left__menu-item {
        position: relative;
        text-align: center;
        transition: 0.3s;
    }

    .left__menu-item:hover {
        background-color: $menu-hover-color;
    }

    .left__menu-item :hover:before {
        position: absolute;
        left: 0;
        top: 0;
        content: '';
        width: 3px;
        height: 100%;
        background-color: $main-contrast-color;
    }
    .left__menu-link {
        text-transform: uppercase;
        color: white;
        display: block;
        width: 100%;
        height: 100%;
        padding: 15px 0;

    }
    .active {
        position: relative;
        background-color: $menu-hover-color;
    }
    .active::before {
        position: absolute;
        left: 0;
        top: 0;
        content: '';
        width: 3px;
        height: 100%;
        background-color: $main-contrast-color;
    }
}
