.recipe__card {
    border-radius: 20px;
    border: 1px solid $main-grey;

    .recipe__card-head {
        position: relative;
        height: 350px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .recipe__icons {
        width: 300px;
        position: absolute;
        right: 0;
        bottom: 20px;
    }

    .recipe__icons-wrap {
        display: flex;
        background-color: #fff;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        justify-content: space-between;
        padding: 10px 20px;


        .recipe__icon {
            display: flex;
            flex: 1 0 30%;

            .recipe__icon-img {
                max-width: 30px;
                margin-right: 10px;
            }
        }
    }

    .recipe__card-name {
        text-transform: uppercase;
        margin: 30px 0 20px;
    }

    .recipe__text {
        padding: 0 25px 25px;
    }

    .recipe__card-btn {
        margin-right: 20px;
    }

    .recipe__card-btns {
        margin-top: 30px;
        display: flex;
        justify-content: flex-start;
        cursor: pointer;
        max-width: 50px;
    }
}
